<html>
<body>
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<form action={{ url_for('login') }} method="post">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:  </label>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Zaloguj"/>
</form>
<form action="/register" method="post">
  <input name="register" value="Zarejestruj" type="submit"/>
</form>

</body>
</html>