<!doctype html>

<head>
</head>

<body>

  <p> Rejestracja nowego konta
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <form action="/register" method="post">
    Login: <input name="username" value="" type="text" /><br>
    Hasło: <input id="password" name="password" value="" type="password" /><br>
    Powtórz hasło: <input name="repeated_password" value="" type="password" /><br>
    <p id="strengthOfPassword"></p>
    <input name="submit" value="Zarejestruj" type="submit" disabled="true"/>
  </form>
  <form action="/">
    <input type="submit" value="Wstecz" />
  </form>
  
  <p>
    Login może zawierać jedynie litery i cyfry<br>
    Hasło musi mieć co najmniej 8 znaków, w tym:<br>
      -przynajmniej jedna wielka litera<br>
      -przynajmniej jedna mała litera<br>
      -przynajmniej jedna cyfra<br>
      -orzynajmniej jeden znak specjalny z [#?!@$%^&*-]
  </p>
  </p>
  <script>
    
    document.getElementById("password").addEventListener("input", function () {
      var password = this.value;
      var strengthOfPassword = calculateEntropy(password);
      document.getElementById("strengthOfPassword").innerHTML = strengthOfPassword;
    });

    function calculateEntropy(password) {
      var charFrequencies = {};

      for (var i = 0; i < password.length; i++) {
        var char = password.charAt(i);
        if (charFrequencies[char]) {
          charFrequencies[char]++;
        } else {
          charFrequencies[char] = 1;
        }
      }

      var entropy = 0;
      for (var char in charFrequencies) {
        var frequency = charFrequencies[char] / password.length;
        entropy += frequency * Math.log2(frequency);
      }
      var entropy = -entropy;
      if(entropy > 3){
        document.getElementsByName("submit")[0].disabled = false;
        return "Twoje hasło jest silne. Jego entropia to: " + entropy.toFixed(2);
      }
      else if(entropy > 2.5){
        document.getElementsByName("submit")[0].disabled = false;
        return "Twoje hasło jest średnie. Jego entropia to: " + entropy.toFixed(2);
      }
      else{
        document.getElementsByName("submit")[0].disabled = true;
        return "Twoje hasło jest słabe, zmień je, aby utworzyć konto! Jego entropia to: " + entropy.toFixed(2);
      }
    }
  </script>
</body>